/* general */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* main */

.container {
	max-width: 1500px;
	margin: 30px auto;
	text-align: center;
}

/* cards */

.card {
	width: 450px;
	height: 800px;
	margin: auto;
	margin-bottom: 20px;
	background-color: #eee;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

/* images */

.image {
	height: 700px;
	margin-bottom: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image.levis-relaxed-tee {
	background-image: url(../img/1.webp);
}

.image.levis-relaxed-tee:hover {
	background-image: url(../img/1b.webp);
}

.image.guess-roses-tee {
	background-image: url(../img/2.webp);
}

.image.guess-roses-tee:hover {
	background-image: url(../img/2b.webp);
}

.image.czm-colori-pastello {
	background-image: url(../img/3.webp);
}

.image.czm-colori-pastello:hover {
	background-image: url(../img/3b.webp);
}

.image.levis-tee {
	background-image: url(../img/4.webp);
}

.image.levis-tee:hover {
	background-image: url(../img/4b.webp);
}

.image.maya-stripe-bodice {
	background-image: url(../img/5.webp);
}

.image.maya-stripe-bodice:hover {
	background-image: url(../img/5b.webp);
}

.image.esprit-maglione-black {
	background-image: url(../img/6.webp);
}

.image.esprit-maglione-black:hover {
	background-image: url(../img/6b.webp);
}

/* labels */

.label-container {
	position: absolute;
	top: 650px;
	text-align: center;
}

.label {
	padding: 3px;
	color: white;
	margin-right: 1px;
	display: inline-block;
}

.label.discount {
	background-color: #eb0037;
	
}

.label.sustainability {
	background-color: #00875a;
}

.favorite {
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	font-size: 2rem;
	background-color: white;
	top: 15px;
	left: 400px;
	line-height: 50px;
}

.favorite:hover {
	color: red;
}

/* description */

.description {
	display: block;
	text-align: left;
	line-height: 2px;
}

.small-text {
	font-size: 0.9rem;
	font-weight: lighter;
}

.brand {
	text-transform: capitalize;
}

.dress-name {
	font-weight: normal;
	text-transform: uppercase;
}

.price {
	color: red;
	font-weight: normal;
}